<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
<title>Order</title>
</head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>



	<div class="container">

		<br /> <br />
		<div class="row">
			<div class="col">
				<div class="d-grid gap-2 col-6">
					<form th:action="@{/order/addNewOrder}" method="post">

						<button type="submit" name="agregar" class="btn btn-primary">Agregar</button>

					</form>
				</div>
			</div>

			<div class="col">
				<form th:action="@{/order/getCustomer}" method="get">
					<input id="email" name="email" type="text" placeholder="Email"></input>
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-search"></i> [[#{search}]]
					</button>
				</form>
			</div>
		</div>

		<span th:if="${customer2 == null}"
			style="margin-top: 30px; font-size: 30px;">No se ha
			seleccionado el cliente</span> <span th:if="${customer2 != null}"
			th:utext="${customer2.firstName}+' '+ ${customer2.lastName}"
			style="margin-top: 30px; font-size: 30px;"></span> <br /> <br />
		<h1 class="text-center text-secondary "
			style="border-bottom: 1px solid coral;" th:utext="#{orderList}"></h1>
		<table class="table table-secondary">
			<tr style="text-align: center;">
				<th>id</th>
				<th th:utext="#{order.date}"></th>
				<th th:utext="#{order.customerId}"></th>
				<th th:utext="Subtotal"></th>
				<th th:utext="IVA"></th>
				<th th:utext="Total"></th>
				<th></th>

			</tr>
			<tr style="text-align: center;" th:each="order: ${orders}">
				<td th:text="${order.id}"></td>
				<td th:text="${order.purchaseDate}" />
				<td th:text="${order.customerId}" />
				<td th:text="${order.subtotal}" />
				<td th:text="${order.iva}" />
				<td th:text="${order.totalIva}" />
				<td><a type="button" th:href="'/order/' + ${order.id}"
					class="btn btn-secondary" th:utext="#{details}"></a></td>

			</tr>

		</table>
	</div>

<!-- 	<a class="btn btn-info" role="button" th:href="/order/return"> <span><i -->
<!-- 			class="fas fa-search"></i> [[#{action.return}]]</span> -->
<!-- 	</a> -->


	<form class="d-flex" th:action="@{/order/return}" method="get">
		<a href="#" onclick="this.parentNode.submit();" class="nav-link"
			>[[#{action.return}]] </a>
	</form>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

	<section th:replace="plantilla/plantilla :: script-bootstrap"></section>

</body>
</html>