<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous" />
<title>Home</title>
</head>
<body>

	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container"
		style="padding: 10px; text-align: center; margin-top: 20px;">
		<div class="card">
			<div class="card-body" style="margin-left: auto; margin-right: auto;">
				<h2>Agregar Cliente</h2>
				<form th:action="@{/customer/add}" method="post">

					<p th:utext="#{firstname}">First name:</p>
					<input id="firstName" name="firstName" type="text" required />
					
					<p th:utext="#{lastName}">Last name:</p>
					<input id="lastName" name="lastName" type="text" required />
					
					<p th:utext="#{email}">Email:</p>
					<input id="email" name="email" type="email" required />
					
					<p>Status:</p>
					<input id="status" name="status" type="text" required />
					
					<p th:utext="#{country}">Pais:</p>
					<input id="countryID" name="countryID" type="number" required /> <br />
					
					
					<br /> <input type="submit" th:value="#{btnadd}">
				</form>
				<br /> <br /> <a th:href="@{/customer}" th:utext="#{btnback}">
					<span>Volver</span>
				</a>
			</div>
		</div>
	</div>

	<section th:replace="plantilla/plantilla :: script-bootstrap"></section>
</body>
</html>