<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
<title>Update Customer</title>
</head>
<body>

	<header th:replace="plantilla/plantilla :: header"></header>

	<div class="container">

		<div class="card">
			<div class="card-body">
				<h1 th:utext="#{editPerson}">Edit person</h1>
				<form action="#" th:action="@{'/customer/' + ${id} + '/update'}"
					th:object="${customer}" method="post">
					<div class="row">
						<div class="col-3">
							<h5 th:utext="#{firstname}">First Name</h5>
							<input type="text" th:field="*{firstName}"
								th:value="${customer.firstName}" />
						</div>
						<div class="col-3">
							<h5 th:utext="#{lastName}">Last Name</h5>
							<input type="text" th:field="*{lastName}"
								th:value="${customer.lastName}" />
						</div>
						<div class="col-3">
							<h5 th:utext="#{email}">Email</h5>
							<input type="text" th:field="*{email}"
								th:value="${customer.email}" />
						</div>
						<div class="col-3">
							<h5 th:utext="#{country}"></h5>
							<input type="text" th:field="*{countryID}"
								th:value="${customer.countryID}" />
						</div>
						<div class="col-3">
							<h5 th:utext="#{status}"></h5>
							<input type="text" th:field="*{status}"
								th:value="${customer.status}" />
						</div>
					</div>
					<br />
					<button type="submit" name="modificar" class="btn btn-primary">
						<i class="fas fa-check"></i> [[#{action.modify}]]
					</button>
					<a th:href="@{/customer}" class="btn btn-primary"> <i
						class="fas fa-arrow-left"></i> [[#{action.return}]]
					</a>

				</form>
			</div>
		</div>

	</div>


	<section th:replace="plantilla/plantilla :: script-bootstrap"></section>
</body>
</html>