<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
<title>Home</title>
</head>
<body>

	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container"  style="padding: 10px; text-align: center;margin-top:20px;">
	<p class="fs-2 text-center" style="border-bottom: 1px solid coral;">Bienvenido</p>
		</div>
	<div class="container">

		<div class="card" style="padding: 10px; text-align: center;margin-top:20px;">
			<div class="card-body"  >
				<a type="button" href="/customer" class="btn btn-secondary" style="margin-top:20px;">Administrador De Clientes</a>
				<br/>
				<a type="button" class="btn btn-secondary" style="margin-top:20px;">Administrador De Productos</a>
				<br/>
				<a type="button" href="/order" class="btn btn-secondary" style="margin-top:20px;" >Ordenar Productos</a>
			</div>
		</div>
	</div>



	<footer th:replace="plantilla/plantilla :: footer"></footer>

	<section th:replace="plantilla/plantilla :: script-bootstrap"></section>

</body>
</html>